* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 400px;
    padding: 2.5rem;
}

#search {
    position: absolute;
}

#time {
    margin-top: 2.5rem;
}


#weather h1 {
    font-size: 5rem;
}

#bottom-info {
    display: flex;

}